logs
/project/project/project
target
tmp
dist
/*.iml
*.DS_Store
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/bin
.idea
.bloop
atlassian-ide-plugin.xml
/app/actors/jsonTest.sc
/phantomjsdriver.log
frontend/package-lock.json
frontend/.cache-loader
/journal
/snapshots
.metals/
.vscode
main/src/main/resources/cit1.conf
.ammonite/
metals.sbt
.bsp/
